{% extends "../layouts/layout.html" %}
{% block title %}Pixnet Album Maker{% endblock %}
{% block content %}
    <div id="head">
        <h1>Pixnet Album Maker</h1>
    </div>
    <div id="content">
        <div id="tabs">
          <ul>
            <li><a href="#tabs-cond">Select user</a></li>
            <li><a href="#tabs-albums">Select album</a></li>
            <li><a href="#tabs-photos">Select photos</a></li>
            <li><a href="#tabs-output">Output</a></li>
          </ul>
          <div id="tabs-cond">
            <form id="form1" action="/pixnet/albums">
              <fieldset>
                <p>
                  <label>Username:</label>
                  <input type="text" id="username" name="username" value=""/>
                </p>
                <p>
                  <input type="button" id="btn_show" value="Show album sets"/>
                </p>
              </fieldset>
            </form>
          </div>
          <div id="tabs-albums">
            <div>
              <input type="button" id="a_first" value="First"/>
              <input type="button" id="a_prev" value="Previous"/>
              <input type="text" id="a_current" disabled=true value="" />
              <input type="button" id="a_next" value="Next"/>
              <input type="button" id="a_last" value="Last"/>
            </div>
            <div id="sets">
            Empty.
            </div>
          </div>
          <div id="tabs-photos">
            <div>
              <input type="button" id="btn_generate" value="Generate"/>
              <input type="button" id="btn_all" value="Select All"/>
              <input type="button" id="btn_none" value="Select none"/>
              <input type="button" id="btn_b_first" value="First"/>
              <input type="button" id="btn_b_prev" value="Previous"/>
              <input type="button" id="btn_b_next" value="Next"/>
              <input type="button" id="btn_b_last" value="Last"/>
            </div>
            <div id="photos">
            Empty.
            </div>
          </div>
          <div id="tabs-output">
            <div id="output-html">
              <textarea id="html_textarea" rows="20"></textarea>
            </div>
          </div>
    </div>
    <script id="albumSetTemplate" type="text/x-jquery-tmpl">
        <div class="set">
          <a href="javascript: show_photos(${id});">
          <img src="${thumb}" alt="${title}"/><br/><span>${title}</span>
          </a>
        </div>
    </script>
    <script id="photoTemplate" type="text/x-jquery-tmpl">
        <div class="photo">
          <a href="${url}" title="${title}" target="_blank">
          <img src="${thumb}" alt="${title}"/></a><br/>
          <input type="checkbox" name="checked" />
          <span><a href="${url}" title="${title}" target="_blank">${title}</a></span>
        </div>
    </script>
    <script type="text/javascript">
        // tabs page constant
        var PAGE1=0;
        var PAGE2=1;
        var PAGE3=2;
        var PAGE4=3;

        // album sets
        var current_page=1;
        var total_pages=0;

        // common
        var username="";
        var $tabs;

        // Author: Ariel Flesler
        // http://flesler.blogspot.com/2008/11/fast-trim-function-for-javascript.html
        // Licensed under BSD
        String.prototype.trim = function() {
          var start = -1,
          end = this.length;
          while (this.charCodeAt(--end) < 33);
          while (this.charCodeAt(++start) < 33);
          return this.slice(start, end + 1);
        };

        // Utilities
        function resetNavigation( prefix ) {
            $( prefix+"_first" ).attr( "disabled", true );
            $( prefix+"_prev" ).attr( "disabled", true );
            $( prefix+"_next" ).attr( "disabled", true );
            $( prefix+"_last" ).attr( "disabled", true );
        }
        function updateNavigation( prefix, page, total, pagesize ) {
            total_pages=Math.floor(total/pagesize)+1;
            $( prefix+"_current" ).val( page );
            if( page==1 ) {
                $( prefix+"_first" ).attr( "disabled", true );
                $( prefix+"_prev" ).attr( "disabled", true );
                $( prefix+"_next" ).attr( "disabled", false );
                $( prefix+"_last" ).attr( "disabled", false );
            }
            else if( page==total_pages ) {
                $( prefix+"_first" ).removeAttr( "disabled" );
                $( prefix+"_prev" ).removeAttr( "disabled" );
                $( prefix+"_next" ).attr( "disabled", true );
                $( prefix+"_last" ).attr( "disabled", true );
            }
            else {
                $( prefix+"_first" ).removeAttr( "disabled" );
                $( prefix+"_prev" ).removeAttr( "disabled" );
                $( prefix+"_next" ).removeAttr( "disabled" );
                $( prefix+"_last" ).removeAttr( "disabled" );
            }
        }
        function get_album_sets( param ) {
          var jqxhr=$.getJSON("/pixnet/albums", param,
            function() {
            })
            .success( function(data) {
                if( data.error==0 ) {
                  $( "#sets" ).empty();
                  $( "#albumSetTemplate" ).tmpl( data.sets )
                    .appendTo( "#sets" );
                  updateNavigation( "#a", data.page, data.total, data.per_page );
                  current_page=data.page;
                  $tabs.tabs("select", PAGE2);
                }
                else {
                  alert( data.message );
                }
            } )
            .error( function() { alert("fail"); } );
        }
        function get_album_elements( param ) {
            var jqxhr=$.getJSON("/pixnet/photos", param, function() { })
            .success( function(data) {
                if( data.error==0 ) {
                    $( "#photos" ).empty();
                    $( "#photoTemplate" ).tmpl( data.elements )
                        .appendTo( "#photos" );
                    $tabs.tabs("select", PAGE3);
                }
                else {
                  alert( data.message );
                }
            } )
            .error( function() { alert("fail"); } );
        }
        function check_username() {
            username=$("#username").val().trim();
            if( username=="" ) {
              alert( "username is empty." );
              return false;
            }
            return true;
        }

        // event handlers in page 1
        function btn_show_click() {
            if( check_username() )
                get_album_sets( { 'username': username } );
        }

        // event handlers in page 2
        function a_first_click() {
            if( check_username() )
                get_album_sets( { 
                    'username': username,
                    'page': 1
                } );
        }
        function a_prev_click() {
            if( check_username() && current_page>1 )
                get_album_sets( { 
                    'username': username,
                    'page': current_page-1
                } );
        }
        function a_next_click() {
            if( check_username() && current_page<=total_pages )
                get_album_sets( { 
                    'username': username,
                    'page': current_page+1
                } );
        }
        function a_last_click() {
            if( check_username() )
                get_album_sets( { 
                    'username': username,
                    'page': total_pages
                } );
        }

        // event handlers in page 3
        function btn_generate_click() {
            var style_str="<style type='text/css'>"+
".Album { width: 100%; background: #f5f5f5; padding: 5px;}"+
".AlbumHeader { text-align:center; padding-left:0px; }"+
".AlbumHeader h3 { font: normal 24px Arial, Helvetica, sans-serif; color: #FF0084; text-align: center; }"+
".AlbumHeader h4 { font: 16px Caflisch Script,cursive; color: #660033; text-align: center; }"+
".AlbumPhoto { background: #f5f5f5; margin-bottom: 10px; }"+
".AlbumPhoto p { float: left; padding: 4px 4px 12px 4px; border: 1px solid #ddd; background: #fff; margin: 8px; }"+
".AlbumPhoto span { float: left; padding: 4px 4px 12px 4px; border: 1px solid #ddd; background: #fff; margin: 8px; }"+
".AlbumPhoto img { border: none; } </style>";
            var html_str="<div class='Album'><div class='AlbumHeader'></div><br clear='all'/><div class='AlbumPhoto'>";
            $( "#photos input:checkbox" ).each( function() {
                if( $(this).attr('checked') ) {
                    var href=$(this).parent().children("a");
                    var img=href.children("img");
                    html_str = html_str + "<span><a href='"+href.attr("href")+"' title='" + img.attr("alt") + "' target='_blank'><img src='"+img.attr("src")+"' alt='"+img.attr("alt")+"'/></a></span>";
                }
            } );
            html_str=html_str+"</div><br clear='all'/><p align='right'><font sytle='font-size:10px;color:#AABBCC;'>Generated by <a href='http://pixnetalbummaker.appspot.com' target='_blank'>PIXNET Album Maker</a></font></p></div>";
            $("#html_textarea").val( style_str+html_str );
            $tabs.tabs("select", PAGE4);
        }
        function btn_all_click() {
            $( "#photos input:checkbox" ).each( function() {
                var element=$(this);
                if( !element.attr('checked') )
                    element.attr('checked', true);
            } );
        }
        function btn_none_click() {
            $( "#photos input:checkbox" ).each( function() {
                $(this).attr('checked', false);
            } );
        }

        // The entry
        $(document).ready( function() {
            $tabs=$("#tabs").tabs();
            var winHeight = $(window).height();
            var tabHeight = (winHeight - 10)*10;
            $tabs.height(tabHeight);
            //var contentPanelHeight = $tabs.find(".ui-tabs-panel:visible").height();
            // initialize events in page 1.
            $("#btn_show").click( btn_show_click );

            // initialize events in page 2
            $("#a_first").click( a_first_click );
            $("#a_prev").click( a_prev_click );
            $("#a_next").click( a_next_click );
            $("#a_last").click( a_last_click );

            // initialize events in page 3.
            $("#btn_generate").click( btn_generate_click );
            $("#btn_all").click( btn_all_click );
            $("#btn_none").click( btn_none_click );
        } );

        function show_photos( id ) {
            if( !check_username() ) {
                alert( "username is empty" );
                return;
            }
            get_album_elements( {
                'id': id,
                'username': username
            });
        }
    </script>
{% endblock %}
