{% extends "../layouts/layout.html" %}
{% block title %}Pixnet Album Maker{% endblock %}
{% block content %}
    <div id="head">
        <h1>Pixnet Album Maker</h1>
    </div>
    <div id="content">
        <div id="tabs">
          <ul>
            <li><a href="#tabs-cond">Select user</a></li>
            <li><a href="#tabs-albums">Select album</a></li>
            <li><a href="#tabs-photos">Select photos</a></li>
            <li><a href="#tabs-output">Output</a></li>
          </ul>
          <div id="tabs-cond">
            <form id="form1" action="/pixnet/albums">
              <fieldset>
                <p>
                  <label>Username:</label>
                  <input type="text" id="username" name="username" value=""/>
                </p>
                <p>
                  <input type="button" id="btn_show" value="Show album sets"/>
                </p>
              </fieldset>
            </form>
          </div>
          <div id="tabs-albums">
            <div id="sets">
            </div>
          </div>
          <div id="tabs-photos">
            <div id="photos">
            </div>
          </div>
          <div id="tabs-output">
            <div id="output-html">
            </div>
          </div>
    </div>
    <script id="albumSetTemplate" type="text/x-jquery-tmpl">
        <div class="set">
          <a href="javascript: showPhotos(${id});">
          <img src="${thumb}" alt="${title}"/><br/><span>${title}</span>
          </a>
        </div>
    </script>
    <script id="photoTemplate" type="text/x-jquery-tmpl">
        <div class="photo">
          <img src="${thumb}" alt="${title}"/><br/><span>${title}</span>
        </div>
    </script>
    <script type="text/javascript">
        var PAGE1=0;
        var PAGE2=1;
        var PAGE3=2;
        var PAGE4=3;
        $(document).ready( function() {
            var $tabs=$("#tabs").tabs();
            $("#btn_show").click( function() {
                var jqxhr=$.getJSON("/pixnet/albums", 
                    {
                        'username': $("#username").val()
                    },
                function() {
                })
                .success( function(data) {
                    $( "#sets" ).html("");
                    $( "#albumSetTemplate" ).tmpl( data )
                        .appendTo( "#sets" );
                    $tabs.tabs("select", PAGE2);
                } )
                .error( function() { alert("fail"); } );
            } );
            var winHeight = $(window).height();
            var tabHeight = winHeight - 10;
            $tabs.height(tabHeight);
            var contentPanelHeight = $tabs.find(".ui-tabs-panel:visible").height();
        } );
        function showPhotos( id ) {
            var $tabs=$("#tabs").tabs();
            var jqxhr=$.getJSON("/pixnet/photos", 
                {
                    'id': id,
                    'username': $("#username").val()
                },
            function() {
            })
            .success( function(data) {
                $( "#photos" ).html("");
                $( "#photoTemplate" ).tmpl( data )
                    .appendTo( "#photos" );
                $tabs.tabs("select", PAGE3);
            } )
            .error( function() { alert("fail"); } );
        }
    </script>
{% endblock %}
