{% extends "../layouts/layout.html" %}
{% block title %}Pixnet Album Maker - Show albums{% endblock %}
{% block content %}
    <div id="head">
        <h1>Pixnet Album Maker</h1>
    </div>
    <div id="content">
        <p>Hello!! {% if username %}{{ username }}{% else %} Anonymous {% endif %}.</p>
        <!-- this page is related to controller/pixnet.py -->
{% for s in album_sets %}
<div>
<p><img src="{{ s.thumb }}" alt="{{ s.category }}"/>
{{s.category}}</p>
</div>
{% endfor %}
        <p>
        {{ rawdata }}
        </p>
    </div>
{% endblock %}
